*{
    box-sizing: border-box;
}
body{
    margin-top: 106px;
    margin-bottom: 106px;
    background-color: #F3F3F3;
    font-family: 'Roboto';
}
.superior{
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}
.superior ion-icon{
    margin-right: 24px;
    width: 42px;
    height: 31px;
}
.superior img{
    margin-left: 22px;
    width: 75px;
    height: 53px;
}
.digitar{
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}
.digitar ion-icon{
    width: 26px;
    height: 26px;
    margin-right: 27px;
}
.digitar input {
    margin-left: 17px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    border: none;
    width: 100%;
}
.digitar input::placeholder{
    color: #000000;
    font-style: italic;
}
input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 
.textmensage{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 2px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.status{
    background-color: #DCDCDC;
}
.messagem{
    background-color: #FFFFFF;
}
.privado{
    background-color: #FFDEDE;
}
strong{
    font-weight: 700;
}
.hora{
    color: #AAAAAA;
    margin-left: 9px;
    margin-right: 4px;
}
.inicio{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inicio img{
    margin-top: 72px;
    width: 130px;
    height: 92px;
}
.inicio input{
    width: 261px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #AEAEAE;
    margin-top: 94px;
    margin-bottom: 15px;
}
button{
    width: 109px;
    height: 45px;
    background: #E7E7E7;
    border-radius: 9px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #696969;
    border: none;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    overflow: scroll;
    z-index: 201;
    transition: all .5s;
}
.sidebar ion-icon{
    margin-left: 18px;
    margin-right: 8px;
    width: 20px;
    height: 20px;
}
.perfil{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 36px;
    position: relative;
}
.tipo{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 36px;
    position: relative;
}
.titulo{
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.preto{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background: rgba(0, 0, 0, 0.6);
}
.sai{
    display: none;
    transition: all .10s;

}
.certo{
    color: #28BB25;
    width: 9px;
    height: 7px;
    font-weight: 700;
    position: absolute;
    right: 27px;
}
.visibilidade {
    margin-bottom: 25px;
}
.tipo:hover{
    cursor: pointer;
    background-color: #DCDCDC;
}
.perfil:hover{
    cursor: pointer;
    background-color: #DCDCDC;
}
ion-icon:hover{
    cursor: pointer;
}
.escrever{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
}
.for{
font-weight: 300;
font-size: 14px;
line-height: 30px;
color: #505050;
margin-left: 20px;
}